
<!DOCTYPE html>
<html lang="en">
    <%- include("../header/head") -%>
    <link rel="stylesheet" href="/css/style.css">
<body class="background">
    <%- include("../header/navSpeaker") -%>
                <div class="container">
                    <h1 style=" text-align: center; color: turquoise;padding: 2%;font-style: italic;font-size: 30px;margin-top: 70px;">Welcome <%=profile.name%> </h1>
                    <div class="card " style="width: 18rem;margin:30px auto;background-color: #000;">
                        <% if(profile.image.name){ %>
                            <img src="/images/<%=profile.image.name%>" style="width: 130px;height: 130px;border-radius: 50%; margin: 0 auto;" class="card-img-top" alt="...">
                        <% }else{ %>
                            <img src="/images/1.jpg">
                        <% } %>
                        <ul class="list-group list-group-flush" >
                          <li class="list-group-item text-danger" style="background-color: #000;">UserName :<span class="text-success"> <%=profile.name%></span> </li>
                          <li class="list-group-item text-danger" style="background-color: #000;">Age : <span class="text-success"> <%=profile.age%></span> </li>
                          <li class="list-group-item text-danger" style="background-color: #000;">City : <span class="text-success"> <%=profile.address.city%></span> </li>
                          <li class="list-group-item text-danger" style="background-color: #000;">Street : <span class="text-success"> <%=profile.address.street%></span> </li>
                          <li class="list-group-item text-danger" style="background-color: #000">Building : <span class="text-success"> <%=profile.address.building%></span> </li>
                        </ul>
                        <span><a class="nav-link btn-primary" href="/speakers/updateProfile/<%=profile._id%>">Update Data</a></span>
                    </div>
                </div>
    <%- include("../header/script") -%>
</body>
</html>